<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap, stylesheets, WP title and favicon load. -->

<head>
    <%- include ('pieces/head')%>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Use of ejs to avoid copy-pasting the whole header. -->
    <header>
        <%- include ('pieces/header')%>
    </header>
    <main>

        <div id="inbox_container" class="d-flex flex-row">

            <div class="last_messages_container overflow-y-scroll col-3 mx-5 p-2">

                <div class="mail_card d-flex flex-column border-round-3 mx-1 mb-3 p-3">

                    <div class="user_info d-flex flex-row">

                        <img src="/images/default_picture.jpg" class="remitent_img rounded-5" alt="">
                        <span class="remitent_text text-center my-auto mx-3"> <strong></strong> Zhipeng Gao </span>
                    </div>

                    <div class="email_subject mt-4">
                        Asunto: Me he cargado el repositorio...
                    </div>

                </div>


                <div class="mail_card d-flex flex-column border-round-3 mx-1 mb-3 p-3">

                    <div class="user_info d-flex flex-row">

                        <img src="/images/default_picture.jpg" class="remitent_img rounded-5" alt="">
                        <span class="remitent_text text-center my-auto mx-3"> <strong></strong> Zhipeng Gao </span>
                    </div>

                    <div class="email_subject mt-4">
                        Asunto: Me he cargado el repositorio...
                    </div>

                </div>

                <div class="mail_card d-flex flex-column border-round-3 mx-1 mb-3 p-3">

                    <div class="user_info d-flex flex-row">

                        <img src="/images/default_picture.jpg" class="remitent_img rounded-5" alt="">
                        <span class="remitent_text text-center my-auto mx-3"> <strong></strong> Zhipeng Gao </span>
                    </div>

                    <div class="email_subject mt-4">
                        Asunto: Me he cargado el repositorio...
                    </div>

                </div>

                <div class="mail_card d-flex flex-column border-round-3 mx-1 mb-3 p-3">

                    <div class="user_info d-flex flex-row">

                        <img src="/images/default_picture.jpg" class="remitent_img rounded-5" alt="">
                        <span class="remitent_text text-center my-auto mx-3"> <strong></strong> Zhipeng Gao </span>
                    </div>

                    <div class="email_subject mt-4">
                        Asunto: Me he cargado el repositorio...
                    </div>

                </div>

            </div>

            <div class="d-flex flex-column offset-1 flex-wrap col-7">

                <div class="d-flex flex-row container">
                    <div class="email_search_container p-3">
                        <button id="delete_mail_filters" type="button" class="rounded-3 mx-4 p-2">Restablecer
                            filtros</button>

                        <form class="p-0 d-inline-block" method="get" action="/get_filtered_mail" id="mail_search_bar">
                            <input class="search_text rounded-3" type="text"
                                placeholder="Buscar correo por nombre, contenido..." name="search">
                            <button type="submit" class="btn btn-primary mx-3 fa fa-search"></button>
                        </form>

                        <button id="write_mail_but" type="button" class="rounded-3 mx-2 p-2" data-bs-toggle="modal"
                            data-bs-target="#write_email">Redactar</button>

                        <div class="modal top fade" id="write_email" data-bs-backdrop="static">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Redactar un correo
                                    </div>
                                    <form method="POST" action="/write_mail"></form>
                                        <div class="modal-body">

                                            <div class="form-group row justify-content-center my-3">
                                                <label for="sent_email_receiver"  class="col-md-2">Destinatario</label>
                                                <input type="text" id="sent_email_receiver"  class="col-md-6">
                                            </div>

                                            <div class="form-group row justify-content-center my-3">
                                                <label for="sent_email_subject" class="col-md-2">Asunto</label>
                                                <input type="text" id="sent_email_subject" class="col-md-6">
                                            </div>

                                            
                                            <div class="form-group row justify-content-center">
                                                <label for="sent_email_content" class="my-1">Cuerpo del mensaje</label>
                                                <div class="mx-3 mt-2">
                                                    <textarea name="sent_email_content" id="sent_email_content" cols="20" rows="10" class="col-12 p-5" ></textarea>
                                                </div>
                                              
                                            </div>


                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <input type="submit" value="Enviar" class="btn btn-lg btn-outline-success"
                                            id="send_email_submit_button"></input>
                                        <button type="reset" data-bs-dismiss="modal"
                                            class="btn btn-lg btn-outline-info">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div id="message_body_container">

                </div>

            </div>

        </div>

    </main>
    <!-- Dynamically footer's inclusion. -->
    <footer>
        <%- include ('pieces/footer')%>
    </footer>
</body>

</html>