<!DOCTYPE html>
<html lang="en">

  <!-- Bootstrap, stylesheets, WP title and favicon load. -->
  <head>
    <%- include ('pieces/head')%>
  </head>
<body>
    <!-- Use of ejs to avoid copy-pasting the whole header. -->
    <header>
        <%- include ('pieces/header')%>
    </header>
    <main>

      <ul>
        <li><a href="/gestion_instalacion.ejs">gestion</a></li>
        <li><a href="/validar_registro.ejs">validacion_usuario</a></li>
        <li><a href="/config_system.ejs">config</a></li>
      </ul>

    </main>
    <!-- Dynamically footer's inclusion. -->
    <footer>
        <%- include ('pieces/footer')%>
    </footer>
</body>
</html>