<!DOCTYPE html>
<html lang="en">

  <!-- Bootstrap, stylesheets, WP title and favicon load. -->
  <head>
    <%- include ('pieces/head')%>
  </head>
<body>
    <!-- Use of ejs to avoid copy-pasting the whole header. -->
    <header>
        <%- include ('pieces/header')%>
    </header>
    <main>
      <a href="/gestion_instalacion">gestion</a>
      <a href="/validar_registro">validacion_usuario</a>
    </main>
    <!-- Dynamically footer's inclusion. -->
    <footer>
        <%- include ('pieces/footer')%>
    </footer>
</body>
</html>