<!-- TODO: allow admin to custom all these params. -->

<div id="footer_cont" class="container-fluid">
    <div class="row container">
        <div class="col-lg-3 col-md-4 col-sm-4 col-8">
            <!-- App's logo. -->
            <img class="footer-img col-12" src="/Images/logo.png" alt="Logo de COMPLU-RIU" />
        </div>

        <div class="col-sm-8 col-12 offset-md-1" id="afafa">
            <ul id="footer_ul">
                <!-- Company's contact information and more. -->
                <li>
                    <!-- Link to send an email to the company. -->
                    <a href="mailto:viajeslacienaga@gmail.com">
                        <!-- Mail icon. -->
                        <img src="/Images/sobre.png" alt="Icono de mail" class="footer_icon" />
                        <!-- Company'semail. -->
                        <span id="footer_mail">salfdi@ucm.es</span>
                    </a>
                </li>
                <li>
                    <!-- Link to watch the "company's Instagram". -->
                    <a href="https://www.instagram.com/officiallyshrek/" target="_blank">
                        <!--Instagram's icon -->
                        <img src="/Images/instagram.png" alt="Icono de Instagram" class="footer_icon" />

                        <span>Universidad Complutense de Madrid</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!--Phone icon. -->
                        <img src="/Images/phone.png" alt="Icono de telefono" class="footer_icon" />
                        <!--Company's phone. -->
                        <span>631 13 63 61</span>
                    </a>
                </li>
                <li>
                    <!--Copyright icon. -->
                    <img src="/Images/copyright.png" alt="Icono de copyright" class="footer_icon" />
                    <!--Copyright type. -->
                    <span>Todos los derechos reservados</span>
                </li>
            </ul>
        </div>
    </div>
</div>