<div class="top-page" id="cabecera">

    <div id="header_cont" class="container-fluid col-12">

        <div class="col-md-3 col-sm-4 col-6">
            <!-- Company's logo. -->
            <img class="col-md-8 col-sm-11 col-12" src="/Images/logo.png"
                alt="Logo de COMPLU-RIU" />
        </div>

        <div class="col-md-3 col-sm-3 col-6">
            <h1 id="header_title">
                <a href="/index.html"> COMPLU-RIU</a>
            </h1>
        </div>

        <div class=" col-md-4 col-sm-4 ">
            <div id="login_cont">
                <!-- JS code to show the login button only if user is logged. Otherwise, a login button will appear.. -->
                <% if (typeof session !== 'undefined' && session.isLogged) { %>

                <div id="login_disp_cont">

                    <div>
                        <img class="user_img rounded-circle"
                            src="/images/default_picture.jpg" alt>
                    </div>
                    <!-- <img src="<%= session.profile %>;base64" alt=""> -->
                    <div id="login_text_cont">
                        <p class="login_text" id="hello_user">
                            ¡Bienvenid@
                            de nuevo, <%= session.user%>!
                        </p>
                        <a class="login_text" href="/logout">Logout</a>
                    </div>

                </div>

                <% } else { %>

                <div class="offset-5" id="login_reg_disp_cont">

                    <a class="account_but d-flex " id="log_but" href="/login">Login</a>
                    <a class="account_but d-flex" href="/register">Registrarse</a>

                </div>

                <% } %>
            </div>
        </div>

    </div>
</div>