body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header_cont{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
}

#header_title{

}

#login_cont{

  float: right;
}

